@typeparam T
@inject DragAndDropHelper DragAndDropHelper
<div draggable="true" @ondragstart="OnDragStart" class="d-inline">
    @ChildContent
</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Zone { get; set; }

    [Parameter]
    public T Data { get; set; }


    void OnDragStart()
    {
        DragAndDropHelper.StartDrag(Data, Zone);
    }
}